@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

section {
    min-height: 100vh;
    background-image: url("../images/img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 85%;
    margin: auto;
}

.nav {
    height: 80px;
}

nav h1 {
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color: orange
}

nav ul {
    float: right;
    line-height: 80px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}

nav ul li a {
    color: orangered;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}

nav ul li a:hover {
    background-color: cornflowerblue;
    transition: 0.5s ease;
}

nav ul li.active {
    background-color: blueviolet;
}

.article {
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}

.article h1 {
    font-size: 36px;
    color: blueviolet;
    letter-spacing: 1px;
    font-weight: 800;
    margin-bottom: 25px;
}

.article p {
    font-size: 18px;
    color: palevioletred;
    line-height: 1.5;
    margin-bottom: 50px;
}

.article .btn {
    color: #fff;
    left: 100%;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: mediumpurple;
}

.article .btn:hover {
    background-color: orangered;
    transition: 0.5s ease;
}
